{% extends 'base.html' %}
{% block content %}
<div class="container mx-auto p-6 max-w-md bg-base-100 shadow-xl rounded-xl">
    <div class="mb-4">
        <h1 class="text-xl font-bold text-base-content">Modifier la classe : {{ classe.code }}</h1>
    </div>

    <form method="POST" class="space-y-4">
        {% csrf_token %}

        <label class="form-control">
            <span class="label-text mb-1">Code de la classe</span>
            {{ form.code }}
        </label>
        
        <label class="form-control">
            <span class="label-text mb-1">
                Filière
            </span>
            {{ form.filiere }}
        </label>

        <label class="form-control">
            <span class="label-text mb-1">Niveau</span>
            {{ form.niveau }}
        </label>

        <div class="flex justify-end gap-2 mt-6">
            <a href="{% url 'liste_classes' %}" class="btn btn-ghost">Annuler</a>
            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
        </div>
    </form>
</div>
{% endblock %}
