{% load static %}
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Gestion emargements</title>
    <link rel="stylesheet" href="https://fonts.googlesapsis.com/css?family=Nuito:200,300,400,500,600,700,800,900">

    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">
</head>
    
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
        <a href="#" class="navbar-brand text-white">
            Gestion des em&#233margments
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">

    <ul class="navbar-nav mr-auto">
        {% if request.user.role == 'enseignant' %}
        <li class="nav-item">
            <a href="{% url 'dashboard_enseignant' %}" class="nav-link text-white">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white">
                <i class="fas fa-calendar-check"></i>&#233marger
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white">
                <i class="fas fa-user-times"></i>Absences
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white">
                <i class="fas fa-book"></i>Cahiers
            </a>
        </li>
        {% endif %}

        {% if request.user.role == 'admin' %}
        <li class="nav-item">
            <a href="{% url 'dashboard_admin' %}" class="nav-link">
                <i class="fas  fa-cog"></i>Admin
            </a>
        </li>
        {% endif %}

        {% if request.user.role == 'responsable'%}
        <li class="nav-item">
            <a href="{% url 'dashboard_responsable' %}" class="nav-link text-white"> fa-user-check">
                   <i class="fas fa-user-check"></i> Responsable p&#233dagogique
            </a>
        </li>
        {% endif %}
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <span class="nav-link text-white">
                {{ request.user.username }}
            </span>
        </li>

        <li class="nav-item">
            <a href="" class="nav-link text-white">
                <i class="fas fa-sign-out-alt"></i>Deconnexion
            </a>
        </li>
    </ul>

    </div>
</nav>

<div class="container-fluid">
    {% block content%}
    {% endblock %}
</div>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/js/sb-admin-2.min.js' %}"></script>

</body>
</html>