{% extends 'base.html' %}
{% load static %}
{% block  content %}

<div class="row">

    <div class="col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <h6 class="text-primary">Total &#233margements</h6>
                    <h3>{{ total_emargements }}</h3>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <h6 class="text-primary">
                    Total cours
                </h6>
                <h3>{{ total_cours }}</h3>
            </div>
        </div>
    </div>

    
    <div class="col-lg-6 mb-4">
        <div class="card shadow h-100">
            <div class="card-header bg-success text-white">
                <h5>Cours r&#233cents</h5>
            </div>

            <div class="card-body">
                <table class="table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <td>Date</td>
                            <td>Contenu</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in cahiers %}
                        <tr>
                            <td>{{ c.date }}</td>
                            <td>{{ c.contenu }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="2" class="text-center text-muted">Aucun cours enr&#233gistr&#233</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}