{% extends 'base.html' %}
{% block content %}

<h3 class="mb-4 text-center">
    Faire un &#233margement
</h3>

<div class="card-shadow">
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Enseignant</label>
                <input type="text" class="form-control" name="enseignant" value="{{ enseignant.prenom }} {{ enseignant.nom }} " readonly>
            </div>
            <div class="form-group">
                <label for="">Date</label>
                <input type="date" class="form-control" name="date"  value="{{ jour|date:'Y-m-d' }}"  >
            </div>
            <div class="form-group">
                <label for="">Heure d'arriv&#233e</label>
                <input type="time" class="form-control" name="arrivee" required>
            </div>
            <div class="form-group">
                <label for="">Heure de d&#233part</label>
                <input type="time" class="form-control" name="depart" required>
            </div>
            <div class="form-group">
                <label for="">Module</label>
                <input type="text" class="form-control">
            </div>
            
            <button class="btn btn-success ">Valider</button>
            <a href="{% url 'dashboard_enseignant' %}" class="btn btn-danger">Annuler</a>
        </form>
        
    </div>
</div>

{% endblock %}